* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --color-gray-01: #f8fafc;
  --color-gray-02: #e2e8f0;
  --color-gray-03: #94a3b8;
  --color-gray-04: #334155;
  --color-gray-05: #1e293b;
  --color-gray-06: #0f172a;
  --color-gray-07: #020617;
}

body {
  font-size: 1.6rem;

  font-family: 'IBM Plex Sans', sans-serif;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;

  color: var(--color-gray-02);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 121.6rem;
  padding: 6rem;

  gap: 4rem;

  border-radius: 3.2rem;
  border: 1px solid var(--gray-04, #334155);
  background: rgba(2, 6, 23, 0.8);
}

header {
  margin-bottom: -1.6rem;
}

header div img {
  display: flex;
  align-items: center;

  border-radius: 1.6rem;
  border: 1px solid var(--gray-05, #1e293b);
  background: var(--gray-06, #0f172a);

  padding: 1.2rem;
}

section.title h1 {
  color: var(--color-gray-01);
  font-size: 3.2rem;
  font-weight: 600;
}

.ia-tools {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  width: 60.8rem;
  height: 9.6rem;

  border-radius: 1.6rem;
  border: 1px solid var(--gray-04, #334155);
  background: var(--gray-06, #0f172a);
}

.tools div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.icons {
  padding: 1.6rem;
  gap: 0.8rem;
  border-radius: 1.6rem;
  border: 1px solid var(--gray-05, #1e293b);
  background: var(--gray-06, #0f172a);
}

i {
  font-size: 3.2rem;
  color: var(--color-gray-03);
}

.tools div p {
  color: var(--gray-02, #e2e8f0);
  font-size: 1.8rem;
  font-weight: 600;
}

.arrow {
  padding: 1.6rem;
}

span {
  width: 109.6rem;
  height: 0.1rem;
  background: #334155;
}

.prompt {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  width: 100%;
}

.prompt > div {
  display: flex;
  padding: 1.6rem;
  align-items: center;
  gap: 1.6rem;
  border-radius: 1.6rem;
  border: 1px solid var(--gray-04, #334155);
  background: var(--gray-06, #0f172a);
}

.prompt div:first-child {
  width: 100%;
}

button,
input {
  background: transparent;
}

input,
input::placeholder {
  width: 100%;
  color: var(--color-gray-02);
  font-size: 1.8rem;
  font-weight: 400;
  outline: none;
}

button .ph {
  color: var(--color-gray-01);
}

.tools,
.prompt button,
.ph-plus-circle {
  cursor: pointer;
}
